.dialogs{
    display: grid;
    grid-template-areas:
    "n m a";
    grid-template-columns: 4fr 4fr 4fr;
    padding: 20px;
    background-color:gold ;
    color:fuchsia;

}

.dialogsName{
    grid-area: n;
}

.dialogsMessage{
    grid-area: m;
}

.dialogAva{
    grid-area: a;
}

.dialogAva img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}